.header {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--gray-800);
    padding: 1.25rem 0;  /*1.25rem = 1rem / 4 = 4px*/

    & img {
        height: 2rem; /*32px*/
    }
}

